<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="../css/portfolio.css">
   <link rel="stylesheet" href="../css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/bootstrap-grid.min.css">
   <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
   <link href="https://fonts.googleapis.com/css?family=Blinker:400,700,800&display=swap" rel="stylesheet">
   <script src="../js/jquery.js"></script>
   <script src="../js/bootstrap.min.js"></script>
   <script src="../js/bootstrap.bundle.min.js"></script>
   <script src="../js/portfolio.js"></script>
   <title>Grant Rosen's Portfolio</title>
</head>

<body>
   <div class="container-fluid">
      <!-- Intro -->
      <div class="row intro">
         <div class="col-md-2 col-sm-1">
         </div>
         <div class="col">
            <h1 style="margin-bottom: 0;">Hi, I'm <span style="color: #ff5851;">Grant Rosen</span>,</h1>
            <h2>a front-end web developer with an entrepreneurial background.</h2>
         </div>
         <div class="col-md-2 col-sm-1">
         </div>
      </div>
      <!-- About Me -->
      <div class="row me">
         <div class="col-md-2 col-sm-1">
         </div>
         <div class="col">
            <h1>About Me</h1>
            <p>Readily equipped to tackle any project React, Angular, Express, Node.js,
               and JavaScript. Rapid and committed learner. Confident in implementing business
               strategies and managing personnel. Experience on both development and
               business side with an aptitude to advocate for each. </p>
         </div>
         <div class="col-md-2 col-sm-1">
         </div>
      </div>
      <!-- Technology -->
      <div class="row tech">
         <div class="col">
            <h1>Technology</h1>
            <div class="row icons">
               <div class="col-md d-none d-md-block">
                  <img style="margin-top: 8%;" src="../images/Languages_icon.png" alt="Languages_icon">
               </div>
               <div class="col-md d-none d-md-block">
                  <img src="../images/Databases-Icon.png" alt="Databases-Icon">
               </div>
               <div class="col-md d-none d-md-block">
                  <img src="../images/Frameworks_icon.png" alt="Frameworks_icon">
               </div>
            </div>
            <div class="row">
               <div class="col-sm-4">
                  <h2>Languages</h2>
                  <p>HTML5</p>
                  <p>CSS3</p>
                  <p>JavaScript</p>
                  <p>Swift</p>
                  <p>Python</p>
               </div>
               <div class="col-sm-4">
                  <h2>Data Bases</h2>
                  <p>MySQL</p>
                  <p>MongoDB</p>
               </div>
               <div class="col-sm-4">
                  <h2>Frameworks</h2>
                  <p>Angular</p>
                  <p>React</p>
                  <p>Pylot (Flask Based MVC)</p>
                  <p>Node.js</p>
                  <p>Express.js</p>
               </div>
            </div>
         </div>
      </div>
      <!-- Recent Work 1 -->
      <div class="row recent">
         <div class="col">
            <h1>Recent Work</h1>
         </div>
      </div>
      <div class="row appearContainer">
         <div class="col-md-1 d-none d-md-block">
         </div>
         <div class="col-sm-4 col-12">
            <h3>CMS Web Developer at Facebook</h3>
            <p>Builds Custom internal HTML/CSS microsites and creates marketing emails
               sent to more than 25,000 clients.</p>
            <a href="./fbexperience">
               <button type="button" class="btn btn-md pr-5 pl-5">View examples</button>
            </a>
         </div>
         <div class="col-md-1 d-none d-md-block">
         </div>
         <div class="col-sm-5 appearRight d-none d-sm-block">
            <img style="width: 100%;" src="../images/Facebook.png" alt="Facebook">
         </div>
         <div class="col-md-1 d-none d-md-block">

         </div>
      </div>
      <!-- Recent Work 2 -->
      <div class="row appearContainer">
         <div class="col-md-1 d-none d-md-block">
         </div>
         <div class="col-sm-5 d-none d-sm-block appearLeft">
            <img style="width: 100%;" src="../images/Acterra.png" alt="Acterra">
         </div>
         <div class="col-md-1 d-none d-md-block">
         </div>
         <div class="col-sm-4 col-12">
            <h3>Web Developer at Acterra</h3>
            <p>Created an interactive web application with JavaScript, Ruby on Rails, AngularJS,
               Rails Admin, HIGHCHARTS, PostgresSQL, and Amazon Web Services.</p>
            <a href="http://52.53.242.122/#/main">
               <button type="button" class="btn btn-md pr-5 pl-5">View site</button>
            </a>

         </div>
         <div class="col-md-1 d-none d-md-block">
         </div>
      </div>
      <!-- Recent Work 3 -->
      <div class="row appearContainer">
         <div class="col-md-1 d-none d-md-block">
         </div>
         <div class="col-sm-4 col-12">
            <h3>Web Developer / Designer at Peninsula Library Coalition</h3>
            <p>Designed and re-mastered the website with WordPress, JavaScript, and FileZilla.</p>
         </div>
         <div class="col-md-1 d-none d-md-block">

         </div>
         <div class="col-sm-5 appearRight d-none d-sm-block">
            <img style="width: 100%;" src="../images/PLC.png" alt="PLC">
         </div>
         <div class="col-md-1 d-none d-md-block">
         </div>
      </div>
      <!-- Contact Me -->
      <div class="row me">
         <div class="col-md-2 col-sm-1">
         </div>
         <div class="col">
            <h1>Contact Me</h1>
            <p class="pb-4">I am based in the San Franscisco Bay Area, CA. Feel free to
               email me at grant.rosen1@gmail.com</p>
            <a target="_blank" href="https://www.linkedin.com/in/grantrosen/">
               <img class="linkedInLogo" src="../images/linkedIn.png" alt="LinkedInLogo">
            </a>

         </div>
         <div class="col-md-2 col-sm-1">
         </div>
      </div>
      <div class="row arrow">
         <div class="col-md-2 col-sm-1">
         </div>
         <div class="col">
            <a href="#top">
               <img class="arrowImg" src="../images/upArrow.png" alt="takemetothetop">
            </a>
         </div>
         <div class="col-md-2 col-sm-1">
         </div>
      </div>


   </div>




</body>

</html>